{% extends "base.html" %}

{% block title %}Eliminar examen{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="card border-danger">

        <div class="card-body">

            <h2 class="text-danger">
                Eliminar examen final
            </h2>

            <p>
                ¿Estás seguro de eliminar:
                <strong>{{ quiz.title }}</strong>?
            </p>

            <form method="post">

                {% csrf_token %}

                <button type="submit"
                        class="btn btn-danger">
                    Eliminar
                </button>

                <a href="{% url 'instructor-dashboard' %}"
                   class="btn btn-secondary">
                    Cancelar
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}